body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}



h2,
footer p, 
h3{
	color: #0b777b;
}

section p{
	color: #7f8c8c;
	font-size: 16px;
}

h2{
	font-size: 60px;
}

h3{
	font-size: 45px;
}

section{
	margin-top: 70px;
	margin-right: 90px;
	margin-left: 90px;
}

section footer img{
	vertical-align: middle;
}

section footer{
	margin-top: 24px;
}

section footer span{
	margin: 0 20px;
}


strong{
	font-weight: bold;
}

footer img{
	margin: 0 5px;
}

.footer-margin{
	margin: 100px 0;
}