body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
}

header, section, footer{
	margin-bottom: 48px;
}

h2{
	font-size: 48px;
	font-weight: bold;
	color: #0b777b;
}

p{
	font-size: 16px;
	color: #7f8c8c;
}

p span{
	font-weight: bold;
}

.date-and-author{
	display: flex;
	text-align: center;
}

.date-and-author p{
	padding-right: 40px;
}

